<h1>Account Details</h1>
<form [formGroup]="form">
  <div class="form-row">
    <div class="form-group col">
      <label for="accountNumber">Account Number</label>
      <input type="text" formControlName="accountNumber" class="form-control" />
    </div>
    <div class="form-group col">
      <label for="outstandingBalance">Outstanding Balance</label>
      <input type="text" formControlName="outstandingBalance" class="form-control" />
    </div>
    <div class="form-group col">
      <label for="isActive">Account Open/Active</label>
      <input type="text" formControlName="isActive" class="form-control" />
    </div>
  </div>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Transaction Date</th>
      <th>Capture Date</th>
      <th>Credit/Debit</th>
      <th>Amount</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of transactions">
      <td>{{transaction.code}}</td>
      <td>{{transaction.transactionDate}}</td>
      <td>{{transaction.captureDate}}</td>
      <td>{{transaction.transactionType}}</td>
      <td>{{transaction.amount}}</td>
      <td>{{transaction.description}}</td>
    </tr>
  </tbody>
</table>
<button [disabled]="loading || !accountClosed" class="btn btn-success" (click)="open(content)">
  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
  Add Transaction
</button>
<p style="font-size:x-small" *ngIf="!accountClosed"> This account is closed, no more transactions can be done.</p>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Account Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formTransaction" (ngSubmit)="onSubmitTransaction()">
      <div class="form-row">
        <div class="form-group col">
          <label for="transactionDate">Transaction Date</label>
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" formControlName="transactionDate" [ngClass]="{ 'is-invalid': submitted && t.transactionDate.errors }"
                   name="dp" ngbDatepicker #d="ngbDatepicker" [maxDate]="today">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
            </div>
            <div *ngIf="submitted && t.transactionDate.errors" class="invalid-feedback">
              <div *ngIf="t.transactionDate.errors.required">Transaction date is required.</div>
            </div>
          </div>
        </div>
        <div class="form-group col">
          <label for="captureDate">Capture Date</label>
          <div class="input-group">
            <input type="text" [readonly]="true" formControlName="captureDate" class="form-control" />
          </div>
        </div>
        <div class="form-group col">
          <label for="amount">Amount</label>
          <input type="text" formControlName="amount" class="form-control" [ngClass]="{ 'is-invalid': submitted && t.amount.errors }" />
          <div *ngIf="submitted && t.amount.errors" class="invalid-feedback">
            <div *ngIf="t.amount.errors.min">Amount must be at least R1.</div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label for="transactionType">Credit/Debit</label>
          <select (change)="onTypeChanged($event)" class="browser-default custom-select" formControlName="transactionType" id="transactionType" [ngClass]="{ 'is-invalid': submitted && t.transactionType.errors }">
            <option *ngFor="let option of types" [value]="option">{{option}}</option>
          </select>
          <div *ngIf="submitted && t.transactionType.errors" class="invalid-feedback">
            <div *ngIf="t.transactionType.errors.required">Transaction type is required.</div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label for="description">Description</label>
          <input type="text" formControlName="description" class="form-control" />
        </div>
      </div>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Save
        </button>
      </div>
    </form>
  </div>
</ng-template>

