<section class="my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">Contact us</h2>
  <!-- Section description -->
  <p class="text-center w-responsive mx-auto pb-5">
    Get in touch using the below details
  </p>
  <div style="text-align: center;">
    <img src="assets/Contact-us-banner.png" alt="ig" style="width:50%">
  </div>

  <h2 class="h1-responsive font-weight-bold text-center my-5">Durban, 4000</h2>
  <h2 class="h1-responsive font-weight-bold text-center my-5">0749939669</h2>
  <h2 class="h1-responsive font-weight-bold text-center my-5">info@gmail.com</h2>


</section>
