<div class="about-section">
  <h1>About Me</h1>
  <p>Here are a few Companies I have had a chance to work with.</p>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="assets/ignition.png" alt="ig" style="width:50%">
      <div class="container">
        <h2>Ignition Group</h2>
        <p class="title">Call Center in Umhlanga</p>
        <p>I spent a couple of year here, building Integration Apis Primarily, as well as DevOps.</p>
        <p><a href="https://www.ignitiongroup.co.za/" class="anchorButton">Visit Site</a></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="assets/gijima.png" alt="Gijima" style="width:50%">
      <div class="container">
        <h2>Gijima Technology People</h2>
        <p class="title">ICT Enthusiasts</p>
        <p>My collage sponsor, and first Employer.</p>
        <p><a href="https://www.gijima.com/" target="_blank" class="anchorButton">Visit Site</a></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/hulamin.png" alt="hulamin" style="width:50%">
      <div class="container">
        <h2>Hulamin</h2>
        <p class="title">Alumimium Manufactor</p>
        <p>This is where my Career began. Straight out of Collage, and ready to take on the world.</p>
        <p><a href="https://www.hulamin.com/" class="anchorButton">Visit Site</a></p>
      </div>
    </div>
  </div>
</div>
